{{if .Error}}
  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    {{if .ErrorTitle}}<h4><i class="icon fa fa-ban"></i> {{.ErrorTitle}}</h4>{{end}}
    {{.Error}}
  </div>
{{end}}