{{template "base/head" .}}
<section class="content-header">
	<h1>
	  Applications
	</h1>
</section>
<section class="content">
	<div class="row">
	  <div class="col-xs-12">
	  	<div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">{{.Application.Name}}</h3>
        </div>
        <form method="post">
          <div class="box-body">
          	{{template "base/alert" .}}
            <div class="form-group {{if .Err_Name}}has-error{{end}}">
              <label for="name">Name</label>
              <input class="form-control" id="name" name="name" value="{{.Application.Name}}" placeholder="Name of collector" autofocus required>
            </div>
            <div class="form-group">
              <label>Access Token</label>
              <input class="form-control" value="{{.Application.Token}}" readonly>
            </div>
          </div>

          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>

      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">Regeneeate Access Token</h3>
        </div>
        <div class="box-body">
          <h5>Current access token will be invalid after regenerated, make sure to update new token to all your applications.</h5>
        </div>
        <div class="box-footer">
          <form action="/applications/{{.Application.ID}}/regenerate_token" method="post">
            <button type="submit" class="btn btn-danger">Regenerate</button>
          </form>
        </div>
      </div>

      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">Delete Application</h3>
        </div>
        <div class="box-body">
          <h5>All data related to this application will be deleted permanently, and RESTful API calls for this application will no longer be accepted.</h5>
        </div>
        <div class="box-footer">
          <form action="/applications/{{.Application.ID}}/delete" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
	  </div>
	</div>
</section>
{{template "base/footer" .}}
