{{template "base/head" .}}
<section class="content-header">
  <h1>
    Collectors
  </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">New Collector</h3>
        </div>
        <form method="post">
          <div class="box-body">
            {{template "base/alert" .}}
            <div class="form-group {{if .Err_Name}}has-error{{end}}">
              <label for="name">Name</label>
              <input class="form-control" id="name" name="name" value="{{.name}}" placeholder="Name of collector"
                     autofocus required>
            </div>
            <div class="form-group">
              <label for="type">Type</label>
              <input class="form-control" id="type" value="GitHub" placeholder="Type of incoming webhooks" disabled>
            </div>
          </div>

          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{{template "base/footer" .}}