{{template "base/head" .}}
<section class="content-header">
  <h1>
    Dashboard
  </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-rocket"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Webhooks</span>
          <span class="info-box-number">{{NumCommas .NumWebhooks}}</span>
        </div>
      </div>
    </div>
  </div>
</section>
{{template "base/footer" .}}